

body, html{
  line-height: 1;
  font-weight: 200;
  font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif;
}

// 清除浮动
.clearfix:before,
.clearfix:after {
    content: ' ';
    display: table;
}
.clearfix:after{
    clear: both;
}

$red:#CB0C0C;

/* 图片url */
@mixin bg-icon($name){
	background-image:url("../assets/images/"+$name+"@2x.png");
}


